
<h4>Monthly Expenses & Incomes</h4>

<form name="AddExpenseForm">
<div class="row">
<div class="col-md-2">
    <div class="form-group">
        <label for="months">Month</label>
        <select name="months" ng-model="monthlyexpense.month">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
    </div>
</div>
</div>

        <!-- <select name="customers" class="form-control" ng-options="customer as customer.name for customer in customers" ng-model="selectedCustomer" required>
        </select> -->
<div class="row">
    <div class="col-md-2">
        <label for="currentbalance">Current Balance</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="number" name="currentbalance" ng-model="monthlyexpense.currentbalance" placeholder="0.00" class="form-control" ng-currency>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <label for="income">Income</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="number" name="income" ng-model="monthlyexpense.income" placeholder="0.00" class="form-control" required>

            <select name="paycheckfreq" ng-model="monthlyexpense.paycheckfreq">
                <option value="Biweekly">Biweekly</option>
                <option value="Monthly">Monthly</option>
            </select>
        </div>
    </div>

</form>


<!--     <div ng-messages="AddOrderForm.customers.$error" class="error" ng-if="submitted" role="alert">
        <div ng-message="required">Please select a customer.</div>
    </div> -->

<!-- 
    <div ng-messages="AddOrderForm.products.$error" class="error" ng-if="submitted" role="alert">
        <div ng-message="required">Please select a product.</div>
    </div>
 -->





       <!--      <td>{{order.created_at | amDateFormat: 'MMMM Do YYYY, h:mm A'}}</td> -->

