<div class="row">
<div class="col-md-4 col-md-offset-4">
                
    <form action="/users/login" method='POST'>
        <div class="form-group">
            <!-- <label for="email">Email:</label> -->
            <input type="text" name="username" id="username" placeholder = "Username" ng-model="loginForm.username" class="form-control">
        </div>
<!--                         {%with errors = get_flashed_messages(category_filter=["email_login"]) %}
        {% if errors %}
            {% for error in errors %}
                <p class="error">{{error}}</p>
            {%endfor%}
        {%endif%}
        {%endwith%} -->

        <div class="form-group">
            <!-- <label for="password">Password:</label> -->
            <input type="password" name="password" id="password" placeholder = "Password" ng-model="loginForm.password" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-default pull-right">Login</button>
        <a id="register" href="#register">Not Registered? Register Here!</a>
    </form>
<!--                     {%with errors = get_flashed_messages(category_filter=["login"]) %}
    {% if errors %}
        {% for error in errors %}
            <p class="error bottomerror">{{error}}</p>
        {%endfor%}
    {%endif%}
    {%endwith%} -->
</div>
</div>